.birds-title {
    position: relative;
    top: 80px;
    color: rgb(41, 105, 27);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}

.filter :first-child{
    padding: 15px;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;

}

.bird-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 100px;
    position: relative;
    top: 120px;
}

.flexx {
    display: grid !important;
    border: 0.1px solid rgba(36, 148, 36, 0.849);
    box-shadow: 0px 5px 5px 0px !important;
    min-height:45vh;
    position: relative !important;
    /* top: -300px !important; */
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.308);
}

.flexx:hover {
    transform: scale(1.01);
}

.card-img-top {
    width:450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 15px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-title {
    color: #208636;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 900;
    font-size: 1.5em;
    font-style: capitalize;
}

.card-text{
    font-size: 1em;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    padding-top: 15px;
}
.search-filter{
    position: relative;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}

.search-filter :first-child{
    padding: 15px;
    border-radius: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: rgb(41, 105, 27);
}